<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
</head>
<body>
    <div class="header">
        <div class="siteName">
            <p class="pSiteName">The Best Articles</p>
        </div>
        <div class="navigation">
            <a href="/">Главная</a>
            <a href="/authorization">Войти</a>
        </div>
    </div>
    <div  class="main">
        <form action="/authorization" method="post">
            <p>Авторизируйтесь:</p><br>
            <p>Email:<br><input type="text" name="email" value=""></p><br>
            <p>Пароль:<br><input type="password" name="password" value=""></p><br>
            <input type="submit" value="Отправить"><br><br>
            <p>Или: <a href="/registration">зарегистрируйтесь</a></p>
        </form><br>
        {% for msg in get_flashed_messages() %}
            <div>{{ msg }}</div>
            {% endfor %}
    </div>
</body>
</html>